<div class="container-fluid" style="margin-top: 100px;">
    <div class="container">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="row">
                <h2 class="font-weight-bold label-6">Data Diri</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label for="Identitas KTP" class="font-weight-bold text-white">No.Identitas KTP</label>
                    <input type="text" name="identitas_ktp" id="identitas_ktp" class="form-control"
                        placeholder="Identitas KTP">
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label for="Tipe Rumah" class="font-weight-bold text-white">Tipe Rumah</label>
                    <select name="tipe_rumah" id="tipe_rumah" class="custom-select">
                        <option value="">-- Pilihan --</option>
                        <option value="apartement">Apartement</option>
                        <option value="kostan">Kostan</option>
                        <option value="ruko">Ruko</option>
                        <option value="lainnya">Lainnya...</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label for="upload Foto" class="font-weight-bold text-white">Upload Foto KTP</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label for="Status Rumah" class="font-weight-bold text-white">Status Rumah</label>
                    <select name="status_rumah" id="status_rumah" class="custom-select">
                        <option value="">-- Pilihan --</option>
                        <option value="milik_sendiri">Milik Sendiri</option>
                        <option value="sewa">Sewa</option>
                        <option value="lainnya">Lainnya</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label for="No Meter PLN" class="font-weight-bold text-white">No. Meter PLN</label>
                    <input type="text" name="no_pln" id="no_pln" class="form-control" placeholder="Meter PLN">
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="text-center"><img src="assets/images/assets/Icon Play Button.png" width="30%" alt="icon-play-button"></div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6  pt-2 col-md-4 col-lg-4">
                <button class="btn btn-primary button-4 btn-lg text-primary font-weight-bold">Previous</button>
            </div>
            <div class="col-6 pt-2 col-md-4 col-lg-4 d-flex justify-content-center">
                <button class="btn btn-primary button-4 btn-lg text-primary font-weight-bold">Save</button>
            </div>
            <div class="col-9 pt-2 col-md-4 col-lg-4 d-flex justify-content-end">
                <button class="btn btn-primary button-4 btn-lg text-primary font-weight-bold">Submit</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 col-lg-12">
                <div><img src="assets/images/assets/banner-footer.png" width="100%" alt="banner-footer"></div>
            </div>
        </div>
    </div>
</div>