<div class="container d-flex justify-content-center" style="margin-top: 190px;">
  <div class="card col-10" style="border-radius: 1.3rem !important;">
    <div class="card-body">
      <div class="row">
        <h1 class="color-custom font-weight-bold">Pilih Paket Internet</h1>
      </div>
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="row">
          <div class="col-4 col-md-2 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="15mbps" value="option1"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="15mbps">
                15 Mbps
              </label>
            </div>
          </div>
          <div class="col-4 col-md-2 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="20mbps" value="option1"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="20mbps">
                20 Mbps
              </label>
            </div>
          </div>
          <div class="col-4 col-md-2 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="30mbps" value="option1"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="30mbps">
                30 Mbps
              </label>
            </div>
          </div>
          <div class="col-4 col-md-2 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="50mbps" value="option1"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="50mbps">
                50 Mbps
              </label>
            </div>
          </div>
          <div class="col-4 col-md-2 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="70mbps" value="option1"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="70mbps">
                70 Mbps
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h1 class="color-custom font-weight-bold">Pilih Ragam Tontonan</h1>
      </div>

      <div class="row my-4">
        <div class="col-md-12 col-lg-4 py-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hbo" 
            style="position: absolute; margin-top: 12px; left: 114px; height: 17px; width: 22px;">
            <label class="form-check-label label-5" for="hbo">
              HBO Pack
            </label>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 py-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="soccer_pack" 
            style="position: absolute; margin-top: 12px; left: 114px; height: 17px; width: 22px;">
            <label class="form-check-label label-5" for="soccer_pack">
              Soccer Pack
            </label>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 py-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="news" 
            style="position: absolute; margin-top: 12px; left: 118px; height: 17px; width: 22px;">
            <label class="form-check-label label-5" for="news">
              News & Knowledge Pack
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-4 py-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="asian_pack" 
            style="position: absolute; margin-top: 12px; left: 114px; height: 17px; width: 22px;">
            <label class="form-check-label label-5" for="asian_pack">
              Asian Pack
            </label>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 py-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="kids_pack" 
            style="position: absolute; margin-top: 12px; left: 114px; height: 17px; width: 22px;">
            <label class="form-check-label label-5" for="kids_pack">
              Kids Pack
            </label>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 py-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="lifestyle" 
            style="position: absolute; margin-top: 12px; left: 118px; height: 17px; width: 22px;">
            <label class="form-check-label label-5" for="lifestyle">
              Lifestyle & Entertainment Pack
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-4 py-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="customCheck1">MVN Pack</label>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 py-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="customCheck1">CinemaWorld</label>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 py-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="customCheck1">SPOTV Pack</label>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12 col-lg-4 pt-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="customCheck1">NHK Pack</label>
          </div>
        </div>
      </div> -->

      <div class="row">
        <h1 class="color-custom font-weight-bold">Periode Pembayaran</h1>
      </div>

      <div class="container my-4">
        <div class="row d-flex justify-content-center">
          <div class="col-5 col-md-3 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="bulanan" value="option3"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="bulanan">
                Bulanan
              </label>
            </div>
          </div>
          <div class="col-5 col-md-3 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="3bulan" value="option3"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="3bulan">
                3 Bulanan
              </label>
            </div>
          </div>
          <div class="col-5 col-md-3 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="6bulan" value="option3"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="6bulan">
                6 Bulanan
              </label>
            </div>
          </div>
          <div class="col-5 col-md-3 col-lg-2 py-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="tahunan" value="option3"
                checked style="position: absolute; margin-top: 12px; margin-left: -1.6rem; height: 17px; width: 22px;">
              <label class="form-check-label label-4" for="tahunan">
                Tahunan
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="card col-9"
          style="border-radius: 1.3rem !important; background-color: #116be0; color: #FFFFFF !important;">
          <div class="card-body">
            <div class=" text-white font-weight-bold col-12">
              <div class="col-12">
                <div class="h4 font-weight-bold col-12 p-0">
                  Rincian Biaya
                </div>
                <div class="col-12 p-0">
                  Biaya Berlangganan
                  <span class="float-right">Rp. 12.000</span>
                </div>
              </div>
              <div class="col-12">
                <div class="col-12 p-0">
                  Ragam Tontonan HBO
                  <span class="float-right">Rp. 12.000</span>
                </div>
                <div class="col-12 p-0">
                  Ragam Tontonan Soccer Pack
                  <span class="float-right">Rp. 12.000</span>
                </div>
                <div class="col-12 p-0">
                  Rental Set Top Box
                  <span class="float-right">Free</span>
                </div>
                <div class="col-12 p-0 pb-5" style="border-bottom: solid 1px!important;">
                  Instalasi
                  <span class="float-right">Free</span>
                </div>
              </div>
              <div class=" col-12 mb-3 mt-3">
                <div class="h6 col-12 p-0">Total Biaya <span class="float-right">Rp. 2.000.0000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center py-4">
  <div class="row">
    <div class="col-md-4 col-lg-4 d-flex justify-content-start">
      <button class="btn btn-primary button-4 btn-lg text-primary text-right font-weight-bold">Previous</button>
    </div>
    <div class="col-md-4 col-lg-4">
      <button class="btn btn-primary button-4 btn-lg text-primary font-weight-bold">Save</button>
    </div>
    <div class="col-md-4 col-lg-4 d-flex justify-content-end">
      <button class="btn btn-primary button-4 btn-lg text-primary font-weight-bold">Next</button>
    </div>
  </div>
</div>