<!-- <div class="footer4 b-t spacer mt-5">
  <div class="container text-center">
    <div class="round-social light">
      <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-youtube-play"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="mt-3 copyright">
      All Rights Reserved by <a href="https://www.wrappixel.com/">WrapPixel</a>.
    </div>
  </div>
</div> -->

<nav class="navbar navbar-light bg-dark text-white">
  <div class="container">
    <p>
      &copy; 2022, PT.MNC Kabel Mediacom All right Reserved
    </p>
  </div>
</nav>

<!-- <footer>
  <div class="container bg-dark text-white">
    
  </div>
</footer> -->