<!-- <div class="footer4 b-t spacer mt-5">
  <div class="container text-center">
    <div class="round-social light">
      <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-youtube-play"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="mt-3 copyright">
      All Rights Reserved by <a href="https://www.wrappixel.com/">WrapPixel</a>.
    </div>
  </div>
</div> -->

<div class="container-fluid box-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <label for="Resindential Segment">RESIDENTIAL SEGMENT</label>
        <ul class="list-group list-group-flush">
          <li class="list-group">
            <a class="text-decoration-none" href="#">Internet & Interactive IPTV</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Vision+ TV</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">ABOUT</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">About MNC Play</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Management Profile</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Contact Info</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <label for="Corporate">CORPORATE</label>
        <ul class="list-group list-group-flush">
          <li class="list-group">
            <a class="text-decoration-none" href="#">Dedicated Internet</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Data Center</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Building Solution</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Data Solution</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Vsat Link</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">Leased Line</a>
          </li>
          <li class="list-group">
            <a class="text-decoration-none" href="#">MNC Group Businesses</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <label for="Stay Connected">STAY CONNECTED</label>
        <ul class="list-group list-group-flush">
          <li class="list-group">
            <a class="text-decoration-none" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="text-decoration-none" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="text-decoration-none" href="#"><i class="fa-brands fa-youtube"></i></a>
            <a class="text-decoration-none" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="text-decoration-none" href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a class="text-decoration-none" href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </li>
        </ul>
        <div class="form-group list-group-flush">
          <select name="language" id="language" class="custom-select">
            <option value="">--Pilih Bahasa--</option>
            <option value="">English</option>
            <option value="">Indonesia</option>
          </select>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group">
            <a class="text-decoration-none" href="#">Speedtest</a>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group">
            <a class="text-decoration-none" href="#">Incident Status</a>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group">
            <a class="text-decoration-none" href="#">Check Coverage & Subscribe</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <img src="assets/images/logos/mncplay-black.png" width="67%" alt="">
        <hr>
        <img src="assets/images/assets/Call Center.png" width="67%" alt="">
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-light bg-dark text-white">
  <div class="container"  style="color: #EAEAEA; font-size: 11px;">
    <p>
      &copy; 2022, PT.MNC Kabel Mediacom All right Reserved
    </p>
  </div>
</nav>