<!-- <div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
> -->
<!-- <div class="container"> -->
<!-- Row  -->
<!-- <div class="row justify-content-center"> -->
<!-- Column -->
<!-- <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Free Angular Blog</h1>
        <h5 class="subtitle op-5">
          Want a blog app with ng-bootstrap ? Here is the fully workable blog
          app in which we are giving add post, edit post and delete post.
        </h5>

        <a
          href="https://www.wrappixel.com/free-wrapkit-angular-blog"
          class="btn btn-md m-t-30 btn-success-gradiant font-14"
          target="blank"
          >Download Free</a
        >
      </div> -->
<!-- Column -->
<!-- </div>
  </div>
</div> -->

<!-- Banner-MNC -->
<div class="container d-flex justify-content-center">
  <img src="assets/images/assets/Asset 2.png" class="banner-mnc" width="100%">
</div>

<!-- FORM DATA -->

<div class="container d-flex justify-content-center">
  <form action="" autocomplete="off">
    <div class="input-custom">
      <i class="fa-solid fa-user"></i>
      <input type="text" name="name" id="name" class="form-control" placeholder="Nama :">
    </div>
    <div class="input-custom my-2">
      <i class="fa-solid fa-envelope"></i>
      <input type="email" name="email" id="email" class="form-control" placeholder="Email :">
    </div>
    <div class="input-custom">
      <i class="fa-solid fa-mobile-screen-button"></i>
      <input type="text" name="handphone" id="handphone" class="form-control" placeholder="No Hp :">
    </div>
  </form>
</div>

<div class="container d-flex justify-content-center mt-4">
  <div class="row">
    <div class="form-group px-2">
      <input type="text" name="otp" id="otp" class="form-control input-otp" placeholder="Masukan OTP">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" style="width: 124px; height:40px; font-size: 11px; margin-top: 10px;">Kirim OTP</button>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="card card-form">
    <div class="card-header text-center">
      <h3 class="text-primary font-weight-bold">Alamat Pemasangan</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="form-group">
            <label for="Kode Pos" class="font-weight-bold">Kode Pos</label>
            <select name="kode_pos" id="kode_pos" class="custom-select">
              <option value="">-- Pilih Kode Pos --</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-group">
            <label for="Kelurahan" class="font-weight-bold">Kelurahan</label>
            <select name="kelurahan" id="kelurahan" class="custom-select">
              <option value="">-- Pilih Kelurahan --</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <label for="Provinsi" class="font-weight-bold">Provinsi</label>
          <select name="provinsi" id="provinsi" class="custom-select">
            <option value="">--Pilih Provinsi</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-group" class="font-weight-bold">
            <label for="RW">RW</label>
            <select name="rw" id="rw" class="custom-select">
              <option value="">-- Pilih RW --</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="form-group" class="font-weight-bold">
            <label for="Kota">Kota</label>
            <select name="kota" id="kota" class="custom-select">
              <option value="">-- Pilih Kota --</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-group" class="font-weight-bold">
            <label for="RT">RT</label>
            <select name="rt" id="rt" class="custom-select">
              <option value="">-- Pilih RT --</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="form-group">
            <label for="Kecamatan" class="font-weight-bold">Kecamatan</label>
            <select name="kecamatan" id="kecamatan" class="custom-select">
              <option value="">-- Pilih Kecamatan --</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-group">
            <label for="No. Rumah" class="font-weight-bold">NO. Rumah</label>
            <select name="no_rumah" id="no_rumah" class="custom-select">
              <option value="">-- Pilih No.Rumah --</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="form-group">
            <label for="Alamat Lengkap" class="font-weight-bold">Alamat Lengkap</label>
            <textarea name="alamat" id="alamat" class="form-control" style="height: 180px;"></textarea>
          </div>
        </div>
        <img src="" alt="">
      </div>
    </div>
  </div>

  <img src="assets/images/assets/Icon Play Button.png" class="icon-play-button" alt="">
</div>

<div class="container d-flex justify-content-center">
  <div class="card card-form-maps">
    <div class="card-header">
      <h3 class="text-primary font-weight-bold">Titik Map <i class="fa-solid fa-location-dot text-danger"></i></h3>
    </div>
    <div class="card-body">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.601291379044!2d106.82935515065859!3d-6.1840816622931625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f43035fa1a53%3A0xd01b3d7bcd8e337e!2sMNC%20Tower%2C%20RT.15%2FRW.7%2C%20Kb.%20Sirih%2C%20Kec.%20Menteng%2C%20Kota%20Jakarta%20Pusat%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2010340!5e0!3m2!1sid!2sid!4v1667470841513!5m2!1sid!2sid"
        width="590" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="col-lg-12 col-md-12 d-flex justify-content-center">
    <button class="btn btn-primary button-4 btn-lg text-primary font-weight-bold">Next</button>
  </div>
</div>
