<div class="container d-flex justify-content-center" style="margin-top: 190px;">
  <div class="card col-10 " style="border-radius: 1.3rem!important;">
    <div class="card-body">
      <div class="row">
        <h1 class="text-primary font-weight-bold">Summary</h1>
      </div>
      <div class="row text-primary font-weight-bold">
        <div class="ml-4 col-12 d-flex mb-3 mt-3">
          <div class="col-1"><i class="fa fa-user"></i></div>
          <div class="col-11" style="margin-left: -50px;">Nama : Gigih Satriono</div>
        </div>
        <div class="ml-4 col-12 d-flex mb-3">
          <div class="col-1"><i class="fa-solid fa-envelope"></i></div>
          <div class="col-11" style="margin-left: -50px;">Email : gigih@mncplay.id</div>
        </div>
        <div class="ml-4 col-12 d-flex mb-3">
          <div class="col-1"><i class="fa-solid fa-mobile-screen-button"></i></div>
          <div class="col-11" style="margin-left: -50px;">No. Handphone : 08123456789</div>
        </div>
        <div class="ml-4 col-12 d-flex  mb-3">
          <div class="col-1"><i class="fa-solid fa-location-dot"></i></div>
          <div class="col-11" style="margin-left: -50px;">Alamat Pemasangan <br>
            Jalan Raya , Kecamartan, keluarahn hota provinsi</div>
        </div>
        <div class="ml-4 col-12 d-flex  mb-3 mt-5">
          <div class="col-1"><i class="fa-solid fa-house"></i></div>
          <div class="col-11" style="margin-left: -50px;">Tipe Rumah : Apartement</div>
        </div>
        <div class="ml-4 col-12 d-flex  mb-3">
          <div class="col-1"><i class="fa-solid fa-house"></i></div>
          <div class="col-11" style="margin-left: -50px;">Status Rumah : Sewa</div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container d-flex justify-content-center" style="margin-top: 30px;">
  <div class="card col-10 " style="border-radius: 1.3rem!important;">
    <div class="card-body">
      <div class=" text-primary font-weight-bold col-12">
        <div class="col-12 mb-3 mt-3">
          <div class="h6 col-12 p-0">Pilihaan Ragam Internet</div>
          <div class="col-12 p-0" style="border-bottom: solid 1px!important;">
            0322-API ENTRY PAK
            <span class="float-right">Rp. 12.000</span>
          </div>
        </div>
        <div class="col-12 mb-3 mt-3">
          <div class="h6 col-12 p-0">Pilihaan Ragam Internet</div>
          <div class="col-12 p-0">
            0322-API ENTRY PAK
            <span class="float-right">Rp. 12.000</span>
          </div>
          <div class="col-12 p-0" style="border-bottom: solid 1px!important;">
            0322-API ENTRY PAK
            <span class="float-right">Rp. 12.000</span>
          </div>
        </div>
        <div class=" col-12 mb-3 mt-3">
          <div class="h6 col-12 p-0">Pilihaan Ragam Internet</div>
          <div class="col-12 p-0">0322-API ENTRY PAK <span class="float-right">Rp. 12.000</span> </div>
          <div class="col-12 p-0">0322-API ENTRY PAK <span class="float-right">Rp. 12.000</span> </div>
          <div class="col-12 p-0">0322-API ENTRY PAK <span class="float-right">Rp. 12.000</span> </div>
          <div class="col-12 p-0">0322-API ENTRY PAK <span class="float-right">Rp. 12.000</span> </div>
          <div class="col-12 p-0">0322-API ENTRY PAK <span class="float-right">Rp. 12.000</span> </div>
          <div class="col-12 p-0" style="border-bottom: solid 1px!important;"> 0322-API ENTRY PAK<span
              class="float-right">Rp. 12.000</span> </div>
        </div>
        <div class=" col-12 mb-3 mt-3">
          <div class="h6 col-12 p-0">Pilihaan Ragam Internet <span class="float-right">Rp. 12.000</span></div>
        </div>
      </div>

    </div>
  </div>
</div>
